.edit-seller{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.edit-seller-box{
    z-index: 1;
    background-color: #fff;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    border-radius: 5px;
    position: relative;
}
.edit-seller-close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    cursor: pointer;
    transition: all .2s linear;
}
.edit-seller-close:hover{
    opacity: .5;
    transition: all .2s linear;
}
.edit-seller-blur{
    position: absolute;
    width: 110vw;
    height: 110vh;
    filter: blur(20px) brightness(40%) opacity(100%);
    background-color: #202020e8;

}
.edit-seller-row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit-seller-deactive{
background-color: #FE235E;
color: #fff;
height: 25px;
line-height: 25px;
float: none;
display: block;
padding: 0 15px;
font-size: 9px;
border-radius: 5px;
font-weight: 900;
cursor: pointer;
transition: all .2s linear;
}
.edit-seller-deactive:hover{
    opacity: .8;
    transition: all .2s linear;
}

.edit-seller-details{
    display: flex;
    align-items: center;
}

.edit-seller-details img{
    width: 70px;
    border-radius: 50%;
}   
.edit-seller-titles{
padding-left: 10px;
display: flex;
flex-direction: column;
text-align: left;
}

.edit-seller-titles h3{
    font-size: 22px;
    color: #272A2D;
}
.edit-seller-titles h4{
    color: #272A2D;
    font-size: 16px;
    font-weight: 300;
}
.edit-seller-row2{
    width: 100%;
    padding: 30px 10px;
}
.edit-seller-input-box{
    display: flex;
    margin: 20px 0px;
    align-items: center;

}
.edit-seller-input-box input{
    width: 70%;
    font-family: inherit;
    padding: 12px 5px 12px 0px;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #223254;
    transition: all .3s cubic-bezier(0.000, 0.555, 0.025, 0.985);
    background-color: #fafafa;
    margin-top: 5px;
}
.edit-seller-input-box p{
width: 30%;
color: #A4A4A4;
}
.edit-seller-save{
    margin-top: 40px;
background-color: #A4A4A4;
color: #fff;
height: 40px;
line-height: 40px;
float: none;
display: block;
padding: 0 5px;
width: 100px;
box-shadow: none;
border-radius: 5px;
cursor: pointer;
transition: all .2s linear;
}

.edit-seller-save:hover{
    opacity: .8;
    transition: all .2s linear;
}

@media screen and (max-width: 700px){
    .edit-seller-box{
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .edit-seller-box{
        width: 100%;
    }
    .edit-seller{
        padding: 20px;
    }
    .edit-seller-box{
        padding: 40px 20px;
    }

}
@media screen and (max-width: 500px){
    .edit-seller-row1{
        flex-direction: column-reverse;
   }
    .edit-seller-deactive {
        margin-top: 40px;
        width: 200px;
        height: 40px;
    }
    .edit-seller-input-box {
        align-items: unset;
        margin: 10px 0px;
        flex-direction: column;
    }
    .edit-seller-row2 {
        padding: 10px;
    }

    .edit-seller-input-box input ,.edit-seller-input-box p {
        width: 100%;
    }
    .edit-seller-save {
        margin-top:0px;
        width: 100%;
    }
    .edit-seller-titles h3{
        font-size:20px;
    }
}

@media screen and (max-width: 350px){
    .edit-seller-deactive {
        margin-top: 15px;
    } 
    .edit-seller-row2{
        padding: 0px;
    } 
    .edit-seller-box {
        padding: 20px 10px;
    }  
    .edit-seller-details img {
        width: 60px;
    }
    .edit-seller-titles h3 {
        font-size: 15px;
    }
    .edit-seller-titles h4 {
        font-size: 13px;
    }
    .edit-seller-input-box {
        margin: 5px 0px;
    }
    .edit-seller-save{
        margin-top:10px;
    }
    .edit-seller-close{
        top: 0px;
        right: 0px;
        width: 35px;
        padding: 10px;
    }
}