.header{
    width: 100%;
    padding: 20px 10px;
    box-shadow: 0 3px 6px rgba(157,206,255,.16);
    background-color: #fff;
    height: 90px;
}
.header-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-menu{
display: flex;
    align-items: center;
}
.logo-box{

}
.logo{
    padding-left: 30px;
    height: auto;
    border-left: 1px solid #f4f4f4;
}
.menu-icon{
margin-left: 5px;
}
.menu{
    display: flex;
    align-items: center;
}
.sub-menu {
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.user-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    align-items: center;
    margin-right: 30px;
}
.manage-profile{
    display: none;
    top: 50px;
    left: -25px;
    position: absolute;
    width: 190px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
    padding-right: 20px;
    }
.profile:hover .manage-profile{
    display: block;
}

.profile-img{
    border-radius: 30px;
    margin: 5px 10px;
}

.profile-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-name{
    font-size: 15px;
    font-weight: 900;
}
.profile-level{
    font-size: 11px;
}

.my-arrow-down{
    position: absolute;
    left: -10px;
}

.shopping-box{
display: flex;


}

.wallet , .shopping-card , .ticket {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    height: 35px;
    border-radius: 5px;
    margin: 0px 5px;
}
.ticket , .shopping-card{
    position: relative;
}
.ticket:before , .shopping-card:before{
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: red;
    top: 6px;
    left: 6px;
    border-radius: 30px;
}

.wallet-remain{
    margin: 0px 5px;
    min-width: 65px;
}
.shoppings-icon{
    height: 35px;
    padding: 9px;
}
.border-left{
    border-left:1px solid #c4c4c4;
}
.border-right{
    border-right:1px solid #c4c4c4;
}

.sub-manage-profile{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 700;
    color: #494d51;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
}
.manage-profile-icon{
    padding-left: 5px;
}

