.headerr{
    width: 100%;
    padding: 20px 10px;
    box-shadow: 0 3px 6px rgba(157,206,255,.16);
    background-color: #fff;
}
.header-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-menu{
display: flex;
    align-items: center;
}
.logo-box{

}
.logo{
    padding-left: 30px;
    height: auto;
    border-left: 1px solid #f4f4f4;
}
.menu-icon{
margin-left: 5px;
}
.menu{
    display: flex;
    align-items: center;
}
.sub-menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.sub-menu:hover{
    color: #555;
    opacity: 0.5;
    transition: all .2s linear;
}
.user-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.profile:hover{
    transition: all .2s linear;

}
.manage-profile{
    display: none;
    top: 50px;
    left: -25px;
    position: absolute;
    width: 190px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
    padding-right: 20px;
    }
.profile:hover .manage-profile{
    display: block;
}

.profile-img{
    border-radius: 30px;
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    background-color: #e1e1e1
}

.profile-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-name{
    font-size: 15px;
    font-weight: 900;
}
.profile-level{
    font-size: 11px;
}

.my-arrow-down{
    position: absolute;
    left: -10px;
}

.shopping-box{
display: flex;


}

.wallet a , .shopping-card a, .ticket a{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    height: 35px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;

}
.ticket , .shopping-card{
    position: relative;
}
.ticket:hover , .shopping-card:hover , .wallet:hover{
    opacity: .8;
    transition: all .2s linear;
}
 

.wallet-remain{
    margin: 0px 5px;
    min-width: 65px;
}
.shoppings-icon{
    height: 35px;
    padding: 9px;
}
.border-left{
    border-left:1px solid #c4c4c4;
}
.border-right{
    border-right:1px solid #c4c4c4;
}

.sub-manage-profile{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 700;
    color: #494d51;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
    cursor: pointer;
}
.sub-manage-profile:hover{
    opacity: .7;
}
.manage-profile-icon{
    padding-left: 5px;
}





a {
    text-decoration:none;
    color: #333;

}













@media screen and (max-width: 1200px){
.profile{
    margin: 0;
}
.profile-desc{
    display: none;
    
}

}

@media screen and (max-width: 1080px){
    .logo-menu {
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        border:none;
    }
    .user-section{
        width: 100%;
        justify-content: space-between;
    }
    .profile {
        margin-left: 10px;
    }
    .sub-menu {
        margin-right: 10px;
    }
    .logo{
        padding: 0px 10px 0px 0px;
    }
}

@media screen and (max-width: 530px){

    .logo-menu{
        flex-direction: column;
    }

    .user-section {
        flex-direction: column-reverse;
        margin-top: 15px;
    }
    .profile-desc{
        display: flex;
        margin-top: 10px;
    }
    .shopping-box {
        flex-direction: column;
        width: 100%;
    }
    .wallet, .shopping-card, .ticket{
        margin:auto;
        margin-top: 10px;
        width: 90%;
    }
    .wallet{
        justify-content: space-between;
    }
    .shoppings-icon{
        width: 50px;
    }
}

@media screen and (max-width: 360px){
    .menu {
        flex-wrap: wrap;
    }
    .sub-menu{
        width: 45%;
    }

}