.add-sellers{
display: flex;
}

.add-sellers-title{
    box-shadow: 0 3px 6px rgba(157,206,255,.16);
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
}
.add-sellers-title h1{
    font-size: 17px;
    color: #666;
    font-weight: 900;
    margin-bottom: 5px;
}
.add-sellers-title p{
    font-size: 11px;
    color: #666;
    font-weight: 900;
}

.add-sellers-form{
    box-shadow: 0 3px 6px rgba(157,206,255,.16);
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    padding: 30px 50px;

}

.add-sellers-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-sellers-field{
width: 24%;
}
.add-sellers-field p{
    color: #999;
    font-weight: 900;
}
.add-sellers-field  input{
    width: 100%;
    font-family: inherit;
    padding: 12px 5px 12px 0px;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #223254;
    transition: all .3s cubic-bezier(0.000, 0.555, 0.025, 0.985);
    background-color: #fafafa;
    margin-top: 5px;
}

.add-sellers-btn{
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    float: none;
    display: block;
    padding: 0 5px;
    width: 100px;
    box-shadow: none;
    background: #0080ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
}
.add-sellers-btn:hover{
    opacity: .8;
    transition: all .2s linear;

}
.add-sellers-list{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.add-sellers-list .seller-com{
    width: 32%;
    margin: 5px;
}
.add-sellers-list .seller-com-edit, .add-sellers-list .seller-com-off{
    color: #60c5ef;
}

.success-message{
    background-color: #2ECC71;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    color: #333;

}

.error-message{
    background-color: #E74C3C;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    color: #333;
    margin: 5px 0; 
    box-shadow: 0 3px 6px rgba(206, 26, 26, 0.32);

}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    }
    @keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    } 
  

    

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    } 

@media screen and (max-width: 1200px){
.add-sellers-list{
    justify-content: space-between;

}

    .add-sellers-fields{
        flex-wrap: wrap;
    }
    .add-sellers-field{
        width: 48%;
    }
    .add-sellers-field p{
        margin-top: 15px;
    }

}
@media screen and (max-width: 1000px){
    .add-sellers{
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 600px){
    .add-sellers-field{
        width: 100%;
    }
    .add-sellers-list .seller-com{
        width: 100%;
    }
    .add-sellers-form{
        padding: 20px;
    }
    .add-sellers-field p{
        margin-top: 15px;
    }

}