.create-ticket{

}

.create-ticket-box{
display: flex;
flex-direction: row-reverse;
}
.create-ticket-search-result{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
}
.create-ticket-search-result h1{
    font-size: 16px;
    color: #5B5B5B;
    margin: 20px 0px; 
    padding-right: 40px;  
}



.create-ticket-filter{
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
}

.create-ticket-date{
    display: flex;
}
.create-ticket-from , .create-ticket-to{
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #eaeaea;
}
.create-ticket-to{

}

.create-ticket-search{
display: flex;
}

.create-ticket-places{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    color: #cecece;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eaeaea;
}

.create-ticket-places-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.create-ticket-places-lists{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #fff;
    min-width: 190px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    z-index: 1;
}

.create-ticket-places-all{
    color: #333;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    transition: all .2s linear;
}

.create-ticket-places-list{
    display: flex;
    color: #333;
    padding: 10px 20px;
    flex-direction: row;
    font-size: 11px;
    font-weight: 500;
    transition: all .2s linear;
}
.create-ticket-places-all , .create-ticket-places-list:hover{
    opacity: .8;
    transition: all .2s linear;
}
.create-ticket-places:hover .create-ticket-places-lists{
    display: block;
}
.create-ticket-places-marker{
    margin-left: 5px;
    font-size: 17px;
}
.create-ticket-features{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    color: #cecece;
    cursor: pointer;
    position: relative;
}

.create-ticket-features-right{
    display: flex;
    align-items: center;
}

.create-ticket-features-lists{
    position: absolute;
    top: 50px;
    background-color: #fff;
    min-width: 460px;
    display: none;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
}
.create-ticket-features:hover .create-ticket-features-lists{
display: block;
}
.create-ticket-features-list{
    border-bottom: 1px solid #f7f9fb;
    display: flex;
    color: #333;
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.create-ticket-features-col{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.create-ticket-features-col li{
padding: 10px;
font-size: 11px;
font-weight: 500;
color: #272A2D;
transition: all .2s linear;
width: 33%;
border-radius: 10px;
text-align: center; 
}
.create-ticket-features-col li:hover{
opacity: .8;
transition: all .2s linear;
background-color: #eee;

}
.create-ticket-features-col li:active{
    background-color: #eee;
transition: all .2s linear;

}
.categori-delete-create-ticket{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.create-ticket-search-btn{
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}



.create-ticket-btn{
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;;
}

.create-ticket-btn:hover {
    opacity: 0.8;
}



.create-ticket-search-lists{

}

.create-ticket-search-list-titles{
    padding: 10px;
    color: #D8D8D8;
    border-bottom: 1px solid #f7f7f7;
display: flex;
text-align: right;  
}


.create-ticket-search-list{
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid #f7f7f7;
    align-items: center;
    font-size: 11px;
}
.create-ticket-search-list-titles > p , .create-ticket-search-list > div {
    /* width: calc(100%/5); */
    text-align: center;
    padding: 0px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.create-ticket-search-list-first-cell{
    align-items: flex-start !important;
    border-left: 1px solid #f7f7f7 !important;
    padding: 0px 0px 0px 20px !important;
}
.create-ticket-search-play{
    color: #0080FF;
    text-align: right !important;
    font-size: 18px;
    font-weight: 900;
}
.create-ticket-search-play-title{
    text-align: right !important;

}
.create-ticket-search-list-title > p {

}

.create-ticket-dates{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #272A2D;
}
.create-ticket-date .datePicker  {
    display: flex;
    align-items: center;
}
.create-ticket-date .datePicker  .jdtrp > div:nth-child(1) ,
.create-ticket-date .datePicker  .jdtrp > div:nth-child(3){
    position: relative;
}
.create-ticket-date .datePicker  .jdtrp > div:nth-child(1)::before , 
.create-ticket-date .datePicker  .jdtrp > div:nth-child(3)::before {
    width: 18px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    content: '';
    background: url('../../assets/icons/calendar.svg') 0 0 no-repeat;
}

.create-ticket-date .datePicker  .jdtrp > div .JDatePicker {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(157,206,255,.36);
    direction: rtl;
    width: 400px;
    margin-right: -150px;
    overflow: hidden;
    min-height: 70px;
    display: block;
    position: absolute;
    background-color: #fff;
    right: 145px;
    top: 30px;
}

.create-ticket-date .datePicker  .jdtrp > div:nth-child(2){
    display: none;

}

.create-ticket-date .JDatePicker .JC-months .holder:last-child{
    width: 100%;
    font-weight: 900;
    font-size: 17px;
}
.create-ticket-date .days-titles{
    margin-bottom: 5px;
}
.create-ticket-date .days-titles div{
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.create-ticket-date .JDatePicker .day-items:hover{
    background-color: #007be6!important;
    color: #fff!important;
}
.create-ticket-date .JDatePicker .day-items.selected{
    background-color:#005299!important;
    color: #fff!important;
    border: none!important;
    text-shadow: 1px 1px 1px #000!important;

}
.create-ticket-date .JDatePicker .JC-days{
    background-color: #fff;
}
.create-ticket-date  .JDatePicker .day-items {
    padding: 5px!important;
    border: 1px solid #eee!important;
    border-radius: 10px!important;
    background-color: #fff !important;
    cursor: pointer!important;
}
.create-ticket-date .JDatePicker .JC-months .prev,.create-ticket-date .JDatePicker .JC-months .next{
    transition: all .2s linear;

}
.create-ticket-date .JDatePicker .JC-months .prev:hover,.create-ticket-date .JDatePicker .JC-months .next:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
    transition: all .2s linear;
}
.create-ticket-date .JDatePicker .JDheader .right .number{
    border: 1px solid #eee;
    border-radius: 10px;
}
.create-ticket-date .JDatePicker .JDheader .right .number:hover{
    border: 1px solid #eee;
    border-radius: 10px;
}

.create-ticket-date  .JC-years{
    position: relative;
    margin-bottom: 10px;
    height: 25px;
}

.create-ticket-date .JDatePicker .JDheader .right input[type="tel"] {
    z-index: 2;
    top: 0px;
    position: absolute;
    width: 70%;
    direction: ltr;
    text-align: center;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 12px;
}

.notfound{
    margin: 10px 0;
    
}





























.create-ticket-date p{
    font-size: 13px;
}
.create-ticket-clock{
    font-weight: 900;
    border-radius: 5px;
    background-color: #F7F9FB;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    font-size: 13px;
    height: 30px;
    color: #272A2D;
    margin-bottom: 10px;
    direction: rtl;
}
div .clock-numbers{
    width: 230px;
    border-left: 1px solid #f7f7f7;
}
.create-ticket-numbers{
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 5px;
background-color: #F7F9FB;
padding:0px 4px;
height: 30px;
cursor: pointer;
position: relative;
width: 100%;
}
.create-ticket-btn-fullscreen{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.create-ticket-number{
display: flex;
flex-direction: column;
border-left: 1px solid #fff;
display: flex;
align-content: center;
justify-content: center;
padding: 0px 5px;
height: 100%;
}
.create-ticket-tourist-change{
    width: 300px;
    position: absolute;
    top: 30px;
    right: 0;
}

.create-ticket-tourist-change-ul{
width: 300px;
background-color: #fff;
border-top: 3px solid #0080FF;
border-radius: 0px 0px 5px 5px;
padding: 15px;
overflow: hidden;
}


.create-ticket-tourist-change-li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;

}

.create-ticket-tourist-change-li h6{
color: #272A2D;
font-weight: 500;
display: inline;
font-size: 13px;
margin-left: 5px;
}

.create-ticket-tourist-change-li p{
    color: #909090;
    padding-bottom: 5px;
}
.create-ticket-tourist-change-li span{
color: #D8D8D8;
display: inline;

}
.create-ticket-tourist-change-li .MinusPlus{
width: 120px;
}

.create-ticket-tourist-change-li div span{
    color: #333;
    font-size: 12px;
    font-weight: 700;
}

.create-ticket-tourist-numbers{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.create-ticket-number span:nth-child(1){
color: #5B5B5B;
font-size: 8px;
font-weight: 700;
}
.create-ticket-number span:nth-child(2){
    font-size: 8px;
    color:#5B5B5B;
    font-weight: 700;


    
}
.create-ticket-price-span{
    color: #989898 !important;
    font-size: 15px;
}
.create-ticket-price-box{
    width: 500px;
}

.create-ticket-price-box p{
    display: block;
    justify-content: space-between;
    color: #272A2D;
    margin: 10px 0px;
    width: 100%;
}
.create-ticket-add-to-bascket{
    padding: 0px 20px 0px 0px !important;
}
.create-ticket-add-to-bascket .button-style{
    margin: 0px;
    width: 90px;
    height: 30px;
}
.create-ticket-add-to-bascket:hover{
    transition: all .2s linear;
opacity: .8;

}


.create-ticket-your-credit{
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    }

.create-ticket-your-credit-title{
    display: flex;
    font-size: 15px;
    color: #272A2D;
    font-weight: 900;
}
.create-ticket-your-credit-title img{
    margin-left: 5px;
}
.create-ticket-increase-credit-text{
    color: #0080FF;
    font-weight: 900;

}
.create-ticket-increase-credit{
display: flex;
}
.create-ticket-increase-credit img{
    margin-right: 5px;

}
.create-ticket-bascket-boxes{
background-color: #fff;
/* margin-top: 20px; */
box-shadow: 0 2px 10px rgba(157,206,255,.34);
border-radius: 5px;
overflow: hidden;
}
.create-ticket-your-bascket{
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-bottom: 1px solid #f7f7f7;
}

.create-ticket-your-bascket-row1 , .create-ticket-your-bascket-row2 {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
}

.create-ticket-your-bascket-row1-span1{
font-size: 17px;
font-weight: 900;
color: #707070;
}
.create-ticket-your-bascket-row1-span2{
color: #585858; 
font-size: 14px;
font-weight: 900;
display: flex;
align-items: center;
background-color: #fcfcfc;
padding: 5px;
border-radius: 5px;
transition: all 150ms ease-in;
cursor: pointer;

}

.create-ticket-your-bascket-row1-span2:hover{
    background-color: #E74C3C;
    transition: all 150ms ease-in;
    color: #333333;
    

}

.create-ticket-your-bascket-row2 span{
    font-size: 13px;
    font-weight: 900;
    color: #585858;
}

.create-ticket-your-bascket-row1-span2 img{
padding-left: 5px;
width: 20px;
padding: 5px;

}
.create-ticket-your-orders{
}

.create-ticket-your-bascket-3{

    background-color: #f1f1f1;
    padding: 2px;
}

.create-ticket-customer-factors{
padding: 0px 20px;
}
.create-ticket-customer-factor{
    border-bottom: 1px solid #f7f7f7;

}
.create-ticket-customer-factor-row{
    font-size: 14px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: #585858;
}

.create-ticket-customer-factor-total{
    font-size: 15px;
    padding: 10px   0px;
    display: flex;
    justify-content: space-between;
    color: #585858;
    font-weight: 900;
}

.create-ticket-transaction{

}

.create-ticket-pay{
    background-color: #0080FF;
    display: flex;
    color: #fff;
    align-items: center;
    height: 42px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;

}
.create-ticket-pay:hover{
    opacity: .8;
    transition: all .2s linear;
}
.create-ticket-transaction .Inputbox{
width: 90%;
margin: auto;
}
.create-ticket-imgs{ 

}
.create-ticket-imgs img:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
}

.create-ticket-imgs img:nth-child(2){
    position: absolute;
    top: 15px;
    right: 10px;
}
.create-ticket-text{
    padding-right: 80px;
    font-weight: 900;
}

.create-ticket-price-level{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    /* border-bottom: 1px solid #eee; */
    transition: all  200ms ease-in;
}

.create-ticket-price-level:hover{

    /* border: 1px solid #f4f4f4; */
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0,0,0,.1);
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,.1);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: all  200ms ease-in;
    border-radius: 5px;
}

.create-ticket-price-level-text h3{
    font-size: 16px;
}
.create-ticket-price-level-text{
    display: flex;
    flex-direction: column;
}

.create-ticket-price-level-text1{
font-weight: 900;
font-size: 14px;
}
.create-ticket-price-level-text2{
    color: #C0C0C0;
}

.create-ticket-price-level .button-style{
    width: 105px;
    font-size: 11px;
    height: 35px;
}
@media screen and (max-width: 1300px){
    .create-ticket-filter{
        flex-direction: column;
    }
    .create-ticket-date , .create-ticket-search{
        width: 100%;
        margin-bottom: 10px;
    }
    .search-sellers{
        justify-content:space-between;
    }
    .create-ticket-from, .create-ticket-to {
        width: 350px;
    }
    .create-ticket-to{
        border: none;
    }
    .create-ticket-places , .create-ticket-features{
        width: 350px;
        padding: 0px 0px 0px 50px;
    }
    .sellers{
        border-left: 1px solid #eaeaea;
    }
    .create-ticket-features-lists{
        right: 0;
    }

}

@media screen and (max-width: 1100px){

    .create-ticket-search-list-titles > p, .create-ticket-search-list > div{
        padding: 0px 5px;
    }
    .create-ticket-search-list{
        padding: 10px
    }

}


@media screen and (max-width: 1100px){

    .create-ticket-from, .create-ticket-to , .create-ticket-places , .create-ticket-features {
        width: 300px;
    }
}

@media screen and (max-width: 1000px){
    .create-ticket-box {
        flex-wrap: wrap;
    }
    .part1{
        width: 100%;
        padding: 10px;
    }
    .part2{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .create-ticket-search{
        justify-content: space-between;
    }
    .create-ticket-date .datePicker .jdtrp > div .JDatePicker{
        padding: 10px;
    }

    .create-ticket-date .datePicker .jdtrp > div:nth-child(3) .JDatePicker{
        right: -30px;
    }

}

@media screen and (max-width: 900px){
.create-ticket-search-list-tablet{
    padding: 20px 40px;
}
.create-ticket-search-list-cells{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #f7f7f7;
}
.create-ticket-clock{
    width: 90px;
}
.create-ticket-numbers{
    width: 170px;
}
.create-ticket-add-to-bascket{
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.create-ticket-search-result h1 {
    padding: 20px !important;
    text-align: center;
}
.create-ticket-search-list-tablet{
    margin-bottom: 10px;
}
.customer-coworker{
    width: 150px;
}
.customer-coworker p{
    display: flex;
    justify-content: space-between;
}
.create-ticket-add-to-bascket {
padding: 0px !important; 
margin: auto;
}
.create-ticket-add-to-bascket .button-style{
    width: 300px;
    height: 40px;

}
.create-ticket-tourist-change{
    left: 0;
    right: unset;
}
}
@media screen and (max-width: 560px){
    .create-ticket-date{
        flex-direction: column;
    }
    .create-ticket-search{
        flex-wrap: wrap;
    }
    .create-ticket-from{
        border: none;
    }
    .create-ticket-places{
        margin-bottom: 20px;
        justify-content: space-between;
        padding: 0px 10px;
        border: none;
    }
    .create-ticket-places-right{
        justify-content: space-between;
    }
    .create-ticket-features{
        justify-content: space-between;
        padding: 0px 10px;
    }
    .create-ticket-features-list , .create-ticket-features-col li{
        padding: 5px;
    }
    .create-ticket-features-lists{
        min-width: 380px;
    }
    .create-ticket-features-lists{
        right: -10px;
    }

    .create-ticket-date .datePicker .jdtrp > div:nth-child(1), .create-ticket-date .datePicker .jdtrp > div:nth-child(3){
        padding: 20px 0px;
    }
    .create-ticket-date .datePicker .jdtrp{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .create-ticket-date .datePicker .jdtrp > div .JDatePicker ,.create-ticket-date .datePicker .jdtrp > div:nth-child(3) .JDatePicker{
        right: 145px;
        width: 100%;
    }
    .create-ticket-date .days-titles div{
        padding: 0px;
    }
}
@media screen and (max-width: 450px){

    .part1 , .part2{
        padding: 10px;
    }
    .create-ticket-features-col li {
        width: 30%;
        border: 1px solid #dfdfdf;
        margin: 1%;
    }
}
@media screen and (max-width: 400px){

   .create-ticket-places , .create-ticket-features{
    width: 90%;
    margin: 0px auto;
    padding: 10px 0px;
    height: 50px;
    }
    .create-ticket-btn {
        width: 90%;
        background-color: #48a4ff;
        display: flex;
        justify-content: center;
        border-radius: 10px;
     
        margin: auto;
    }
    .create-ticket-features-lists {
        min-width: 100%;
        right: 0px;
        top: 40px;
    }
    .create-ticket-features-list {
        padding: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
    .create-ticket-places-lists{
        min-width: 100%;
    }
    .create-ticket-places-lists{
        top: 45px;
        right: 0%;
    }
    .create-ticket-features-list{
        padding: 0px;
    }
    .create-ticket-add-to-bascket .button-style{
        width: 150px;
        height: 40px;
    
    }
    .create-ticket-tourist-change , .create-ticket-tourist-change-ul{
        width: 250px;
    }
    .create-ticket-tourist-change-li .MinusPlus{
        width: 90px;
    }
}


@media screen and (max-width: 350px){
    .create-ticket-tourist-change , .create-ticket-tourist-change-ul{
        width: 200px;
    }
    .create-ticket-tourist-change-ul{
padding: 10px;
    }

}