


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  background: #f7f9fb;
  font-size: 13px;
}
*{
  border: none;
  list-style-type: none;
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1366px;
  margin: auto;
}