.dashboard{
    display: flex;

}


.part-1{
    width: 70%;
    margin: 10px;
    background-color: red;
}

.dashbord-sellers{
    display: block;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;

}

.dashbord-sellers p {
    padding: 20px;
    font-weight: 700;
    color: #494d51;
    font-size: 12px;
}


.dashbord-manage-sellers {
    border-top: 1px solid #ccc;

}

.dashbord-manage-sellers-item {
    display: flex;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;

}

.dashbord-manage-sellers-item:hover{
    background-color: #f5f5f5;

}

.dashbord-manage-sellers-item p {
    color: #272A2D;
    font-weight: 700;
    font-size: 16px;
    padding: 0;

}
.dashbord-manage-sellers-item span{
    color: #272A2D;
    font-size: 14px;

}


.dashboard-seller-avatar{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 150px;

}

.dashboard-seller-actions{ 
    display: flex;
 

}

.dashboard-seller-actions-item {
    width: 40px;
    height: auto; 
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;

}

.dashboard-seller-actions-item:hover{
    border: 1px solid #eee;
}

.dashboard-seller-item-container{  
    background-color: transparent;
    display: block;
    width: 70%;
    text-align: left;
    padding-left: 10px;

    
}

.part-2{
    width: 30%;
    margin:10px;
    background-color: black;
    height: 100px;


}

