.dashboard{
    display: flex;
    max-width: 1100px;
    margin: auto;

}


.dashboard1{
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.calender-weather-box{
display:flex;
width: 100%;

}
.dashboard-calenrder{
    width: 50%;
    background-color: rgb(195, 132, 214);
    height: 200px;
border-radius: 20px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    display: flex;
}
.calendar-left , .calendar-right{
width: 50%;
}
.calendar-right #calender-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.calendar-right #calender-wrapper #calendar .header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.calendar-right #calender-wrapper #calendar .week{

}
.calendar-right #calender-wrapper #calendar .weeks-container{

}
.calendar-right #calender-wrapper #calendar .weeks-container .week{

}

.calendar-right #calender-wrapper #calendar .week.names{
    display: flex;
    justify-content: space-around;
}
.calendar-right #calender-wrapper #calendar .week.names span ,
.calendar-right #calender-wrapper #calendar .weeks-container .week span{
    text-align: center;
    width: 30px;
    color: #fff;
}
.calendar-right #calender-wrapper #calendar .weeks-container{

}
.calendar-right #calender-wrapper #calendar .weeks-container .week{
    display: flex;
    justify-content: space-around;
}
.calendar-right #calender-wrapper #calendar .weeks-container .week .day.today{
    border-radius: 5px;
    background-color: rgb(234, 182, 249);
}
.calendar-right #calender-wrapper #calendar .header .icon-and-text-in-a-row{
    font-size: 7px;
    background-color: #fff;
    color: #812280;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s linear;
}
.calendar-right #calender-wrapper #calendar .header .icon-and-text-in-a-row:hover{
    background-color: #ffffff91;
    transition: all .2s linear;
}
.calendar-right #calender-wrapper button{
    display: none;
}
.calendar-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-jalali{
    color: #fff;
    display: flex;
    align-items: center;
    height: 120px;
    width: 200px;
    justify-content: center;
    padding-top: 80px;
}

.calendar-jalali h1{
    font-size: 95px;
    margin-left: 10px;
    display: flex;
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.calendar-jalali-detail{
    line-height: 26px;
}
.calendar-jalali-detail h2{
    font-size: 17px;
}

.calendar-chris h1{
    font-size: 33px;
    width: 40px;
    text-align: right;
}
.calendar-chris{
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    width:150px;
}

.calendar-chris-detail{
    margin: 8px 0px 0px 8px;
    text-align: left;
}

.calendar-chris-detail h2{
    font-size: 10px;
}

.dashboard-weather{
    width: 50%;
    background-color: #ff96a9;
    background-image: linear-gradient(90deg, #ff96a9 0%, #ffc49e 100%);
height: 200px;
border-radius: 20px;
box-shadow: 0 2px 10px rgba(157,206,255,.34);
display: flex;
align-items: center;
justify-content: center;
color: #fff;
position: relative;
overflow: hidden;
margin-left: 10px;
}
.dashboard-weather:after{
    width: 300px;
    height: 300px;
    content: '';
    background-color: #ffffff33;
    position: absolute;
    opacity: .4;
    top: -125px;
    border-radius: 50%;
    left: -70px;
}


.dashboard-weather-app {
    display: flex;
    width: 100%;
    padding: 20px;
}

.dashboard-weather-left {
    width: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashboard-weather-left:after{
    width: 230px;
    height: 230px;
    content: '';
    background-color: #ffffff33;
    position: absolute;
    bottom: -120px;
    border-radius: 50%;
    left: 50px;

}
.dashboard-weather-left:before{
    width: 120px;
    height: 120px;
    content: '';
    background-color: #ffffff33;
    position: absolute;
    bottom: -72px;
    border-radius: 50%;
    left: -28px;
}


.dashboard-weather-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-weather-top {
  padding: 5px;
}


.dashboard-weather-bottom {
  padding: 5px;
}
.dashboard-weather-temperature{
    font-size: 60px;
    font-weight: 500;
    position: relative;
}
.dashboard-weather-temperature-sign{
    font-size: 40px;
    position: absolute;
    right: -20px;
}
.dashboard-weather-location{
    margin-right: 25px;
}
.dashboard-weather-humidity{
    display: flex;
    align-items: center;
    width: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin: 3px;
}

.dashboard-weather-humidity img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.dashboard-weather-wind  p , .dashboard-weather-dir p{
    width: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin: 3px;

}
.dashboard-weather-dir{

}

.sale-statistics{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
}

.statistics-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}



.dashboard-chart path{
    fill:url(#grad2)!important;
  }
  
  .apexcharts-xcrosshairs, .apexcharts-ycrosshairs{
    display:none;
  }
  .apexcharts-toolbar{
    display: none;
  }
  #apexchartsw2x9fqa2 , #SvgjsSvg1001 , #SvgjsG1003{
    width: 100%;
    height: 600px;
  }
  
  .dashboard-chart .apexcharts-xaxis > .apexcharts-xaxis-texts-g {
    transform: translate(-16px , 14px);
  }
  .dashboard-chart .apexcharts-xaxis .apexcharts-xaxis-texts-g text {
    transform: translate(-16px , 14px) , rotate(12deg);
    font-size: 11px;
    color: #333;
    font-weight: 900;
}

.dashboard-chart .apexcharts-yaxis-texts-g{
    transform: translate(-40px , 2px);
}
.sale-title{
    padding: 10px 20px;
}
.sale-title h3{
    display: flex;
    align-items: center;
    color: #494d51;
}
.sale-title h3 img{
    margin-right: 10px;
}
.dashboard-dates{

}
.dashboard-dates ul{
    display: flex;
}
.dashboard-dates ul li{
    margin: 10px 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.dashboard-dates ul li:hover{
    opacity: .7;
}
.time-active{
    border-bottom: 1px solid rgb(75, 170, 233);
}

.dashboard-chart{
    width: 100%;
    height: 500px;
}


.dashbord-sellers{
    display: block;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;

}



.dashbord-manage-sellers {

}

.dashbord-manage-sellers-item {
    display: flex;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;

}

.dashbord-manage-sellers-item:hover{
    background-color: #f5f5f5;

}

.dashbord-manage-sellers-item p {
    color: #272A2D;
    font-weight: 700;
    font-size: 16px;
    padding: 0;

}
.dashbord-manage-sellers-item span{
    color: #272A2D;
    font-size: 14px;

}

.dashbord-sellers-title{
    font-weight: 900;
    padding: 20px;
    border-bottom: 1px solid  rgb(238, 238, 238);
    color: #494d51;
}
.dashbord-sellers-title img{
    margin-right: 10px;
}
.dashboard-seller-avatar{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 150px;

}

.dashboard-seller-actions{ 
    display: flex;
 

}

.dashboard-seller-actions-item {
    width: 40px;
    height: auto; 
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;

}

.dashboard-seller-actions-item:hover{
    border: 1px solid #eee;
}

.dashboard-seller-item-container{  
    background-color: transparent;
    display: block;
    width: 70%;
    text-align: left;
    padding-left: 10px;

    
}

.dashboard2{
    width: 25%;
    padding:10px;
    height: 100px;
}

.dashboard-report{
    display: flex;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    margin: 20px 0px;
    padding: 20px;
    font-size: 12px;
    color: #494d51;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
}
.dashboard-report img{
    margin-left: 10px;

}
.dashboard-support{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(157,206,255,.34);
    margin-bottom: 30px;
}
.dashboard-support h1{
    font-weight: 900;
    font-size: 13px;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: #494d51;

}
.dashboard-support h1 img{
    padding-left: 10px;
}
.dashboard-support-text{
    padding: 20px;
}

 .dashboard-support-text h2 {
font-size: 12px;
color: #494d51;
font-weight: 700;
margin-bottom: 10px;
}
.dashboard-support-text img{
    width: 22px;
    height: 22px;

}
.dashboard-support-text span{
    margin-left: 10px;
}
.dashboard-support-phone{
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    font-weight: 900;
    color: #a2a2a2;
    align-items: center;
    margin-bottom: 10px;
}

.dashboard-support-mail{
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    font-weight: 900;
    color: #2cb5de;
    align-items: center;
}


@media screen and (max-width: 1200px){
.dashboard{
    flex-direction: column;
}
.dashboard1 , .dashboard2{
    width: 100%;
}
    

}


@media screen and (max-width: 800px){

    .dashboard-calenrder , .dashboard-weather{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    } 
    .calender-weather-box{
        flex-direction: column;
    }
    
    }

@media screen and (max-width: 600px){
    .statistics-actions{
        flex-direction: column;
    }
    .dashboard-dates ul{
        justify-content:space-around;
    }
}

@media screen and (max-width: 500px){

    .calendar-jalali {
        color: #fff;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100px;
        justify-content: center;
        padding-top: 0px;
    }
    .calendar-jalali h1 {
        font-size: 60px;
        margin-left: 10px;
        display: flex;
        margin-top: 10px;
    }
    .calendar-chris {
        color: #fff;
        display: flex;
        flex-direction: row-reverse;
        width: 100px;
        height: 70px;
    }
    .calendar-chris h1 {
        font-size: 48px;
        width: 52px;
        margin-top: 12px;
    }
    .calendar-chris-detail {
        text-align: left;
        line-height: 26px;
        margin: 20px 0px 0px 8px;
    }
    .calendar-left{
        width: 30%;
        align-items: flex-end;
    }    
    .calendar-right{
        width: 70%;
    }
    .calendar-chris-detail h2  , .calendar-jalali-detail h2 {
        font-size: 12px;
    }

}
@media screen and (max-width: 400px){
    .calendar-jalali-detail {
        line-height: 15px;
    }
    .calendar-jalali h1 {
        font-size: 27px;
        margin-left: 0;
        display: flex;
        width: unset;
    }
    .calendar-jalali {
        color: #fff;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        justify-content: center;
        padding-top: 0px;
        flex-direction: column;
    }
    .calendar-chris-detail h2, .calendar-jalali-detail h2 {
        font-size: 11px;
        text-align: center;
    }
    .calendar-chris {
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70px;
        margin: 0px auto;
        justify-content: end;
        align-items: center;
    }
    .calendar-chris h1 {
        font-size: 33px;
        width: 52px;
        margin-top: 0;
        text-align: center;
        height: 40px;
    }
    .calendar-chris-detail {
        text-align: center;
        line-height: 15px;
        margin: 0px;
    }
    .calendar-right #calender-wrapper #calendar .week.names span, .calendar-right #calender-wrapper #calendar .weeks-container .week span{
        width: 22px;
    }
    .dashboard-weather-left{
        flex-direction: column;
    }
    .dashboard-weather-location{
        margin: 0;
    }

}